<div>
	<h1>{{msg1}}</h1>
	<button ng-click="modalControls1.open();">Open Modal 1</button>
	
	<div ng-modal options="modalOptions1" controls="modalControls1" callbacks="modalCallbacks1" on-open="modal1OnOpen();" on-close="modal1OnClose();">
		<h1>{{msg1}}</h1>
		<button ng-click="modalControls1.close();">Close Modal 1</button>
		<button ng-click="modalControls2.open();">Open Modal 2</button>
	</div>
</div>

<br/>

<div>
	<h1>{{msg2}}</h1>
	<button ng-click="modalControls2.open();">Open Modal 2</button>
	
	<div ng-modal options="modalOptions2" controls="modalControls2" callbacks="modalCallbacks2">
		<h1>{{msg2}}</h1>
		<button ng-click="modalControls2.close();">Close Modal 2</button>
		<button ng-click="modalControls3.open();">Open Modal 3</button>
	</div>
	
	<div ng-modal options="modalOptions3" controls="modalControls3" callbacks="modalCallbacks3">
		<h1>{{msg2}}</h1>
		<button ng-click="modalControls3.close();">Close Modal 3</button>
	</div>
</div>